mixin dropdownItemCount(optionsList, placeholder)
    div(class="iqdropdown dropdown dropdown-items-count")
        p(class="iqdropdown-selection dropdown__selection" data-placeholder=placeholder)
        div(class="iqdropdown-menu dropdown__menu")
            for option in optionsList
                div(class="iqdropdown-menu-option dropdown__option" data-id=option.id data-selection-text=option.single data-text-plural=option.plural1 data-text-plural-2=option.plural2)
                    div
                        p(class="iqdropdown-item dropdown__item")=option.item
